# Ignore everything
/*

# Include these directories and files
!.gitignore
!.config/
!.bashrc
!.profile
!.gitconfig
!.hushlogin
!.ssh/
!.bashrc.d/

!README.md
!scripts/

# Continue exlucding these files/directories
.config/go/*
.config/tmux/plugins/*
.ssh/id_ed25519
.ssh/known_hosts
.ssh/known_hosts.old
